.nav-con{
    width: 100vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-image{
    width: 35vw;
    height: 15vw;
    margin-left: 5vw;
}

.nav-icon{
    border: 2px solid black;
    display: flex;
    margin-right: 5vw;
    padding: 0.25rem;
    gap: 0.5rem;
}

.nav-icon img{
    width: 7vw;
    height: 7vw;
    cursor: pointer;
}

.notification {
    position: relative;
  }
  
  .notification-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* การจัดสไตล์ของ Modal */
  .notification-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* พื้นหลังครึ่งโปร่งใส */
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
  }